body {
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    margin: 0;
    display: flex;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 8px 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.empty-space {
    flex: 1;
    height: 60px;
}

.header .left {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;
    max-width: 205px;
    padding-right: 40px;
}

.header img {            /*boanergaes logo*/
    border-radius: 100%;
    height: 60px;
    flex: 0;
    box-shadow: none;
}

.header .boa {          /*boanergaes text*/
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
    margin: 0;
}

.header .right {
    margin-right: 30px;
    display: flex;
    align-items: center;
    gap: 14px;
}

.header a {
    text-decoration: none;
    color: lightgray;

}

.search-bar {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-shrink: 1;
    min-width: 10px;
}

#search-button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: auto;
    height: auto;
    box-shadow: none;
}

.search-bar .search-icon {
    display: block;
    height: 20px;
    width: auto;
    flex: 0;
}

.right .search-bar input {
    background-color: hsla(220, 13%, 91%, 0.3);
    border: none;
    border-radius: 6px;
    margin: 0 10px;
    padding: 4px 8px;
    color: #eaebf1;
    flex-shrink: 1;
    min-width: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .23),
                inset 5px 5px px rgba(0, 0, 0, .1);
}

.header ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 16px;
}

/* .dropdown {
  display: none; 
  flex-direction: column;
  background-color: #1f2937;
  padding: 10px;
}

.dropdown[open] {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown a {
  color: white;
  text-decoration: none;
  padding: 8px 0;
  display: block;
}

@media (max-width: 768px) {
  .header ul {
    display: none;
  }

  .dropdown {
    display: flex;
  }

  .dropdown summary {
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
} */


.intro-section {
    margin: 0;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 0 30px;
    padding-bottom: 100px;
}

.intro-section img {
    width: 100%;
    min-width: 370px;
    margin: 15px 0 0 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

.text-part {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 700px;
}

.text-part p {
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: #e5e7eb;
}

.text-part .hero-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

button {
    width: 100px;
    border-radius: 8px;
    background-color: #3882f6;
    color: white;
    padding: 8px 24px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

button:hover {
    transform: scale(1.1);
    background-color: hsl(217, 91%, 56%);
}

.text-part button {
    margin-top: 20px;
    border: none;
}

.picture-part {
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-time-section {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-time-section h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

img {
    width: 160px;
    height: 250px;
    border-radius: 8px;
}

.movie-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px;
}


.content {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 370px;
    flex-wrap: wrap;
    border-radius: 8px;
    background-color: hsla(220, 13%, 91%, .4);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, .14);
}

.content:hover {
    transform: scale(1.1);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, .4);
}

.content img {
    border-radius: 8px 8px 0 0;
}

.content p {
    margin: 4px 8px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: hsl(215, 28%, 27%);
}

.quote-section {
    margin: 70px 0;
    padding: 30px;
    background-color: #e5e7eb;
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    font-family: calibri;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.q {
    max-width: 650px;
}

.quote-section span {
    display: block;
    margin-right: 36px;
    font-weight: 900;
    text-align: end;
}

.bottom-section {
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up {
    background-color: #3882f6;
    width: 500px;
    padding: 28px 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: #e5e7eb;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .35);
}

.pop-up .title {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    color: #eaebf1;

}

.pop-up p {
    font-size: 12px;
    margin: 0;
}

.pop-up button {
    border: 1px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .23);
}

.footer {
    margin: 0;
    height: 75px;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 12px;
    word-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}